.info-cards--row {
    margin: 0;  padding: 0;
    gap: 32px;
    display: flex;
    margin: 50px 0 0;
}
  
.info-cards--row .info-card {
    width: calc(25% - 24px);
    flex-direction: column;
    min-height: 400px;
    text-align: center;
    padding: 32px 20px 20px 20px;
    align-items: center;
}
  
.info-cards--row .info-card__credits-label {
    display: block;
    margin: 0 0 8px;
}
  
.info-cards--row .info-card__title {
    margin: 0 0 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
  
.info-cards--row .info-card__low-bid {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(30, 34, 46, 1);
    margin: 0;
}
  
.info-cards--row .info-card__low-bid--special {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
  
.info-cards--row .info-card__img {
    width: 210px;
    height: 135px;
    margin: 0 0 25px;
}
  
.info-cards--row .info-card__lower-card {
    margin: auto 0 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}