.custom-input {
  position: relative;
  $root: &;

  &__field {
    border: 1px solid $color-orange-red;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: border-color $transition-300;
    position: relative;

    &::after {
      content: "Введите";
      position: absolute;
      color: $color-orange-red;
      bottom: -100px;
      left: 5px;
    }

    &::placeholder {
      color: rgba($color-orange-red, 0.3);

      &:hover {
        color: rgba($color-grey, 0.3);
      }
    }

    &:hover {
      border-color: gray;
    }
  }

  &__error {
    position: absolute;
    bottom: -37px;
    left: 20px;
    color: $color-orange-red;
    font-size: 14px;
    line-height: 1.5;
    transition: opacity $transition-300;
  }
}
