.info {
    padding: 0 0 60px 0;
    &__list {
        display: flex;
        gap: 30px;
    }

    &__list-item {
        padding: 10px;
        border: 1px solid silver;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.walper {
    position: fixed;   /* всегда поверх */
  top: 0;
  left: 0;
  width: 100vw;      /* ширина окна */
  height: 100vh;     /* высота окна */
  background-color: black;
  z-index: 9999;  
  opacity: 1;

  animation: opacity 2s linear alternate forwards;
}

@keyframes opacity {
    10% {
        opacity: 1;
    }
    35%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}