.order-form__radio__list {
    display: flex;
    margin: 0 0 40px 0;
}

.custom-radio {
    margin-right: 12px;
}

.custom-radio__label {
    position: relative;
    display: flex;
    cursor: pointer;
    color: #FFFFFF;
    cursor: pointer;
    padding: 8px 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
}

.custom-radio__label:hover {
    background-color: rgba(111, 181, 130, 0.15);
}

.custom-radio__field:checked + .custom-radio__label {
    color: rgba(135, 242, 154, 1);
    background-color: rgba(111, 181, 130, 0.15);
}
