.message__tail {
    position: absolute;
    bottom: 0;
    right: -17px;
    color: #676A47;
}

.message__tail-right {
    position: absolute;
    bottom: 0;
    left: -17px;
    color: 
    #61235F ;
}

.smile {
    position: absolute;
    top: -43px;
    left: -110px;
    z-index: -1;
}

.smile-angry {
    position: absolute;
    top: -45px;
    right: -114px;
    z-index: -1;
}

