.order__title {
    font-family: "Press Start 2P";
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    color: #87F29A;
    margin: 0 0 24px 0;
    text-transform: uppercase;
}



.order__text {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 80px 0;
}

.order-wrapper {
    display: grid;
    grid-template-columns: 700px 1fr;
    gap: 80px;
    margin: 0 0 80px 0;
}