.btn {
    font-weight: 700;
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    background-color: rgba(135, 242, 154, 1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 153px;
}