.feedback__item {
    padding: 32px 40px;
    border-radius: 40px;
    position: absolute;
    left: 63px;
    top: 157px;
    background-color: #676A47;
    width: 363px;
}

.feedback__item--7 .message__tail {
    position: absolute;
    bottom: 0;
    right: -17px;
    color: #62432C;
}

.feedback__item--7 {
    background-color: #62432C;
    width: 303px;
    left: 0;
    top: 427px;
}

.feedback__item--6 {
    background-color: #432858;
    width: 423px;
    left: 141px;
    top: 678px;
}

.feedback__item--5 {
    background-color: #6A2844;
    width: 363px;
    left: 765px;
    top: 726px;
}

.feedback__item--5 .message__tail-right {
    color: #6A2844;
}

.feedback__item--4 {
    background-color: #315C51;
    width: 283px;
    left: 1057px;
    top: 499px;
}

.feedback__item--4 .message__tail-right {
    color: #315C51;
}

.feedback__item--3 {
    background-color: #61235F;
    width: 297px;
    left: 1019px;
    top: 231px;
}

.feedback__item--2 {
    background-color: #243961;
    width: 334px;
    left: 608px;
    top: 83px;
}

.feedback {
    height: 100%;
}

.feedback__list {
    padding: 0;
    position: relative;
}

.feedback li{
    list-style-type: none;
}

.message__text {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 327px 0 293px 0;
    margin: 0 0 20px 0;
}

.feedback__title {
    font-weight: normal;
    font-size: 84px;
    line-height: 84px;
    font-family: "Press Start 2P";
    margin: 0 0 16px 0;
    color: #FFFFFF;
}

.feedback__title-green {
    color: rgba(135, 242, 154, 1);
}

.feedback__title-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    line-height: 32px;
    width: 520px;
    text-align: center;
    margin: 0 0 32px 0;
}

.feedback__input-block {
    position: relative;
}

.feedback__input-botton {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 70px;
}

.feedback__input {
    width: 540px;
    padding: 16px 56px 16px 24px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

.feedback__input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}