.footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px 0;
}

.footer__left {
    display: flex;
    gap: 40px;
    justify-content: start;
    align-items: center;
}

.footer__title {
    justify-content: center;
    align-items: center;
}

.footer__right {
    display: flex;
    gap: 16px;
    justify-content: right;
    align-items: center;
}

.footer__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.footer__text-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__protect {
    width: 166px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.footer__protect-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.footer__text {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
    width: 225px;
    text-align: right;
    margin: 0;
}

.footer__mail-block {
    position: relative;
    width: 280px;
}

.footer__mail {
    padding: 12px 16px 12px 48px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 8px;
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__mail-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    pointer-events: none;
}

